<h1><%= @user.username %></h1>
<h4>Posts</h4>
<ol>
<%@user.posts.each do |p_item|%>
<li><strong><%=p_item.title + " / " + p_item.body%></strong></li>
<h4>Comments</h3>
<ul>
<%p_item.comments.each do |c_item|%>
<li><p><%=c_item.body%></p></li>
<%end%>
</ul>
<%end%>
</ol>